---
import '@/styles/globals.css'
import { ThemeMenu } from '../components/theme.tsx';
import { ChatApp } from '@/components/chat.tsx';
import Layout from "../layouts/Layout.astro";
import {NodeMenu} from "@/components/node.tsx";
import {PeerApp} from "@/components/peer.tsx";
---


<Layout>
	<main class="container-fluid">
		<nav class="flex justify-end border-b p-2 mb-5">
			<NodeMenu client:only="react"/>
			<ThemeMenu client:load />
		</nav>
		<PeerApp client:only="react"/>
		<ChatApp client:only="react"/>
	</main>
</Layout>
